CompileFlags:
  Add: []

InlayHints:
  Enabled: true

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

Diagnostics:
  Suppress: ["-Wc++98-compat", "-Wpre-c++17-compat", "-Wpre-c++14-compat", "-Wpre-c++11-compat" ]